<link rel="stylesheet" href="/css/home.css">
<div id="home-container">

    <section id="posts-feed">
        <% if(locals.user){%>
            <h3>Post</h3>
            <form id="new-post-form" action="/posts/create" method="post" enctype="multipart/form-data">
                <input type="file" name="photo" placeholder="post-pic">
                <textarea name="caption" id="" cols="30" rows="3"></textarea>
                <input type="submit" value="Post">
            </form>
        <%} %>
        
            <div id="posts-list-container">
                <ul>
                    <% for(post of posts){%>
                        <div>
                            <%- include('_post') %>
                        </div>
                            
                    <%} %>
                </ul>
            </div>
    
    </section>
    
    <section id="user-N-friends">
        <% if(locals.user){%>
            <div id="friend-requests">
                <h3>Friend Request</h3>
                <%if(locals.user.requestRecv.length > 0){%>
                    <% for(r of curr_user.requestRecv){%>
                        <p>
                            <a href="/users/profile/<%= r.id%>"><%= r.name%></a>
                            <button><a href="/users/friends/accept/<%= r.id%>">Accept</a></button>
                            <button><a href="/users/friends/reject/<%= r.id%>">Reject</a></button>
                        </p>    
                    <%} %>
                <%}else{%>
                    <p>No Requests...</p>    
                <%}%>
            </div>
            <hr>
        <%} %>
        
        <div>
            <%if(locals.user){%>
                <h4>Users</h4>
                <% for(u of users){%>
                    <% const hasCommonFriendship = locals.user.friendships.some(friendshipId => u.friendships.some(uFriendshipId => friendshipId.toString() === uFriendshipId.toString())); %>
                    <% if(locals.user.pendingReq.includes(u.id)){%>
                        <p>
                            <a href="/users/profile/<%= u.id%>"><%= u.name%></a>
                            <button><a href="/users/friends/cancel/<%= u.id%>" title="Cancel Request">Request Sent</a></button>
                        </p>
                    <%}else if(locals.user.id == u.id){%>
                        <p>
                            <a href="/users/profile/<%= u.id%>"><%= u.name%></a>
                        </p>
                    <%}else if(hasCommonFriendship){%>
                        <p>
                            <a href="/users/profile/<%= u.id%>"><%= u.name%></a>
                            <button><a href="/users/friends/unfriend/<%= u.id%>">Unfriend</a></button>
                        </p>
                        
                    <%}else{%>
                        <p>
                            <a href="/users/profile/<%= u.id%>"><%= u.name%></a>
                            <button><a href="/users/friends/add/<%= u.id%>">Add</a></button>
                        </p>
                    <%}%>
                      
                <%} %>    
            <%}%>
        </div>
    
    </section>

</div>

<script src="/js/home_post.js"></script>
<script src="/js/post_comment.js"></script>
<script src="/js/toggle_likes.js"></script>