<link rel="stylesheet" href="/css/user_profile.css">

<div id="container">

    <% if(user.id == profile_user.id){%>

        <div>
            <div id="info-container">
                <div id="img-container">
                    <img src="<%= profile_user.avatar%>"  alt="Image">
                </div>
                <div id="credentials">
                    <h1><%= profile_user.name %></h1>
                    <h1><%= profile_user.email %></h1>
                </div>
            </div>

            <div id="edit-btn-container">
                <button id="show-form-btn">Edit Profile</button>
            </div>

            <div id="update-form" >
                <h1>Upadte Details</h1>
                <form action="/users/update/<%= profile_user.id%>" enctype="multipart/form-data" method="post"  id="profile-form">
                    <label for="name">Name</label>
                    <input type="text" name="name" value="<%= profile_user.name %>">
                
                    <label for="email">Email</label>
                    <input type="email" name="email" value="<%= profile_user.email %>">
                
                    <label for="avatar" id="profile-pic">
                        <span id="image-name">Select Profic-Pic</span>
                        <i class="fa fa fa-camera"></i>
                        <input type="file" id="avatar" name="avatar" placeholder="Profile Picture">
                    </label>
                    <hr>
        
                    <input id="submit-btn" type="submit" value="Save">
        
                </form>
            </div>
            
            <div id="form-overlay"></div>
            
        </div>
        
    <%}else{%>
        <div id="info-container">
                <div id="img-container">
                    <img src="<%= profile_user.avatar%>"  alt="Image">
                </div>
                <div id="credentials">
                    <h1><%= profile_user.name %></h1>
                    <h1><%= profile_user.email %></h1>
                </div>
        </div>

        <div id="req-btn">
            <% const hasCommonFriendship = locals.user.friendships.some(friendshipId => profile_user.friendships.some(uFriendshipId => friendshipId.toString() === uFriendshipId.toString())); %>
            <% if(hasCommonFriendship){%>
                <button><a href="/users/friends/unfriend/<%= profile_user.id%>">Unfriend</a></button>    
            <%}else if(locals.user.pendingReq.includes(profile_user.id)){%>
                <button><a href="/users/friends/cancel/<%= profile_user.id%>" title="Cancel Request">Request Sent</a></button>    
            <%}else if(locals.user.requestRecv.includes(profile_user.id)){%>
                <p>
                    <button><a href="/users/friends/accept/<%= profile_user.id%>">Accept</a></button>
                    <button><a href="/users/friends/reject/<%= profile_user.id%>">Reject</a></button>
                </p>    
            <%}else{%>
                <button><a href="/users/friends/add/<%= profile_user.id%>">Add</a></button>    
            <%} %>
        </div>

        
    <%}%>
    
    <hr>
    <% if(all_posts.length >0){%>   
        <h1>Posts</h1>    
    <%}else{%>
        <h1>No posts available to show...:(</h1>    
    <%}%>
    <div id="users-posts">
        
        <% for(post of all_posts){%>
            <div class="single-post">
                <% if(locals.user && locals.user.id == post.user.id){%>
                    <div id="delete-link">
                        <a class="post-delete-btn" title="Delete" href="/posts/destroy/<%= post.id%>"><i class="fa-solid fa-circle-xmark"></i></a>
                    </div>
                <%} %>
                <div id="post-img-container">
                    <img src="<%= post.photo %>" alt="<%= post.caption %>" width="100" height="100">
                </div>
                <div id="caption">
                    <span><%= post.likes.length%> 👍❤️😂...</span>
                    <p><%= post.caption %></p>
                </div>
    
            </div>    
            
        <%}%>
    
    </div>

</div>




<script src="/js/profile.js"></script>